$font-main: "Savate", sans-serif;

$color-bg-body: rgb(43, 106, 60);
$color-bg-header: rgb(69, 94, 68);
$color-bg-footer: rgb(60, 107, 60);
$color-bg-nav: rgb(92, 133, 92);
$color-bg-article: rgb(69, 94, 68);
$color-bg-curiosidades: rgb(38, 84, 38);
$color-bg-lineas: rgb(74, 139, 74);
$color-bg-btn: rgb(64, 93, 64);
$color-border-btn: rgb(248, 253, 248);
$color-text-light: rgb(236, 230, 230);
$color-text-dark: rgb(48, 62, 30);
$color-text-white: white;
$width-main: 80%;