/* BODY */
body {
  font-family: $font-main;
  background-color: $color-bg-body;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-text-light;
  line-height: 1.6;
}