/* BOTONES */
.btn {
  width: 100%;
  background-color: $color-bg-btn;
  border: 1px solid $color-border-btn;
  color: $color-text-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-bg-btn;
    color: $color-text-white;
  }

  &.btn-warning {
    color: $color-text-white;
  }
}
.btn-primary:active,
.btn-primary:focus {
  background-color: #1d6e64 !important; /* color al presionar */
  border-color: #1d6e64 !important;
}
