/* MEDIA QUERIES */

/* Móviles */
@media (max-width: 767.98px) {
  .imagen-carousel {
    @include mqImg(20rem,20rem, 20rem,20rem)
  }

  .texto-slide {
    max-width: 20rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .imagen-carousel {
  @include mqImg(40rem,40rem, 40rem,40rem)
  }

  .texto-slide {
    max-width: 40rem;
  }
}

/* Desktops */
@media (min-width: 992px) {
  .imagen-carousel {
   @include mqImg(50rem,80rem, 80rem,50rem)
  }

  .texto-slide {
    max-width: 80rem;
  }
}
