/* SECCIONES */
#fondoMate {
  background-color: rgb(47, 113, 47);
  color: $color-text-dark;
}

.agrandarTitulo {
  font-size: 40px;
  color: $color-text-white;
}

.parrafoImportante {
  font-size: 20px;
  color: $color-text-white;
}